@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');



body {
  display: grid;
  place-items: center;
  background:black;
  height: 100vh;
  
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width:650px;
  margin: auto;
  overflow: hidden;
  height: 480px;
}

h1 {
  text-align: center;
  font-family:'Lato', sans-serif;
  margin-top: 2em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}

.count {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family:'Lato', sans-serif;
  font-size: .7em;
  letter-spacing: 5px;
  margin-top: 25%;
}

.days,
.hours,
.minutes, 
.seconds {
  display: inline-block;
  padding: 20px;
  width: 100px;
  border-radius: 50%;
}

.days {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
}

.hours {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
  color: white;
}

.minutes {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
}

.seconds {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
  
}

.numbers {
  color: crimson;
  font-family:'Montserrat', sans-serif;
  font-size: 4em;
}


  

.balloon {
  border-radius: 10%;
  z-index: 2;
}

/* Default Style */
.graph {
    font-size: 20px;
    text-align: center;
    color: white;
    
  }
  .graph a {
    color: crimson;
    text-decoration: none;
    cursor: pointer;
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
    
